body {
  background-color: rgb(245, 216, 255);
}


.key {
  position: relative;
  z-index: 1;
}

.active {
  top:15px;
}

.about {
  justify-content: center;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 35px;
}

.text {
  justify-content: center;
  text-align: center;
  color: rgb(250, 92, 13);
}
