body {
  background-color: rgb(204, 223, 183);
}


.key {
  position: relative;
  z-index: 1;
}

.active {
  top:15px;
}

.about {
  justify-content: center;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 35px;
}

.text {
  justify-content: center;
  text-align: center;
  color: rgb(250, 92, 13);
}

.slider::-webkit-slider-thumb {
  /* This will apply to the thumb (handle) */
  background: #ff69b4;
}

.slider::-moz-range-thumb {
  /* This will apply to the thumb (handle) in Firefox */
  background: #ff69b4;
}