body {
  background-color: rgb(204, 223, 183);
  font-family: 'GennaroPalmieri';
}


.key {
  position: relative;
  z-index: 1;
}

.active {
  top:15px;
}

.about {
  justify-content: center;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 35px;
}

.text {
  justify-content: center;
  text-align: center;
  color: rgb(46, 170, 114);
}

.info {
  font-family: monospace;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}

.textStyle {
  letter-spacing: '0.02em';
  padding-top: '10px';
  padding-left: '250px';
  padding-right: '250px';
  padding-bottom: '300px';
  font-size: '16px';
  font-family: 'Roboto';
  line-height: '1.5';
  color: '#66aa78';
}

.headingStyle {
  font-size: '50px';
  font-weight: 'bold';
  margin-bottom: '10px';
}

.app {
  padding-top: '20vh';
  padding-left: '10vw'
}

.about {
  letter-spacing: '0.02em';
  padding-top: '10px';
  padding-left: '250px';
  padding-right: '250px';
  padding-bottom: '300px';
  font-size: '16px';
  font-family: 'Roboto';
  line-height: '1.5';
  color: '#66aa78';
}

.heading {
  font-size: '50px';
  font-weight: 'bold';
  margin-bottom: '10px';
}

.txt {
  font-size: '20px';
  font-weight: 'bold';
  margin-bottom: '20px';
}

.txt2 {
  font-size: '17px';
  font-weight: 'bold';
  margin-bottom: '20px';
}

.link {
  color: '#66aa78';
  text-decoration: 'none';
}

.link-hover {
  color: '#66aa78';
  text-decoration: 'underline';
}

.slider-container {
  display: 'flex';
  align-items: 'center';
  margin-bottom: '20px';
  font-family: 'Roboto';
  font-weight: 'bold';
  font-size: '20px';
}

.slider-bar {
  position: 'relative';
  height: '2px';
  width: '180px';
  background: '#66aa78';
  margin-right: '20px';
}

.slider-icon {
  position: 'absolute';
  top: '-11px';
  font-size: '24px';
  user-select: 'none';
}

.slider {
  position: 'absolute';
  opacity: 0;
  width: '200px';
  height: '24px';
}

.slider-label {
  color: '#66aa78';
}
